@import "styles/constants.scss";

.container {
  margin-top: 50px;
  color: $black;
  display: flex;
  justify-content: center;
}

.form_section {
  width: 414px;

  &__header {
    text-align: center;
    h2 {
      font-weight: 700;
      font-size: 30px;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      margin-top: 10px;
    }
  }
}

.input_layout {
  label,
  input {
    display: block;
  }

  &__label {
    font-weight: 500;
  }

  &.invalid {
    .input_layout__label,
    .input_error {
      color: red;
    }

    .input_layout__input {
      border-color: $errorBorder;
    }
  }

  &__input {
    margin-top: 5px;
    width: 100%;
    height: 56px;
    border-radius: 10px;
    border: 1px solid $border;
    padding: 0 10px;
    transition: 0.2s;

    &:focus {
      border-color: $activeButton;
    }

    &::placeholder {
      color: #7f7f7f;
    }
  }

  & + & {
    margin-top: 20px;
  }
}

.button_lists {
  margin-top: 30px;

  &__item {
    width: 100%;
    height: 56px;
    color: #fff;

    & + & {
      margin-top: 10px;
    }
  }

  .form_button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    color: #fff;

    &:disabled {
      background-color: #ccc;
    }
  }

  .submit_button {
    background-color: #242424;
  }

  .google_button {
    background-color: #e94d4d;
  }

  .github__button {
    background-color: #2b2b2b;
  }
}

.linkTo {
  font-size: 14px;
  display: block;
  margin-top: 10px;

  a {
    font-weight: 700;
  }
}
