@import "index";

.container {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  align-items: center;
}

.title {
  text-align: center;
  color: $black;
  font-style: normal;
  line-height: normal;

  h1 {
    font-weight: 700;
    font-size: 30px;
  }

  p {
    font-weight: 500;
    font-size: 16px;
  }
}
.form {
  font-size: 16px;
  color: $black;
  font-weight: 500;
  width: 414px;

  .form_block {
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    gap: 10px;

    &_input {
      padding: 16px 10px;
      border-radius: 10px;
      border: 1px solid $border;

      &:focus {
        border: 1px solid #000;
        outline: none;
      }

      &::placeholder {
        color: $placeholder;
      }
    }

    &_error {
      @extend .form_block;
      color: $errorBorder;
      font-weight: 400;
    }

    button {
      @extend .button;
      border-radius: 10px;
      margin-top: 10px;
    }

    .gogle_btn {
      background-color: #e94d4d;

      &:active,
      &:hover {
        background-color: #ec1b1b;
      }
    }
    .github_btn {
      background-color: #2b2b2b;

      &:active,
      &:hover {
        background-color: $black;
      }
    }

    p {
      font-size: 14px;

      a {
        font-weight: 700;
        color: #000;
        text-decoration: none;
      }
    }
  }
}
