@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Bold.woff");
  font-weight: 700;
}
