@import "styles/constants.scss";

.pageNotFound {
  font-weight: 500;
  position: relative;
  width: 100vw;
  height: calc(100vh - 76px);
  text-align: center;
}

.description {
  font-size: 24px;
  color: #1e1e1e;
  line-height: 1.5;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.linkTo {
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  width: 150px;
  height: 56px;
  color: $white;
  background-color: #1e1e1e;
  border-radius: 10px;
}
