.hashtagContainer {
  display: flex;
  flex-wrap: wrap;
}
.hashTag_wrapper {
  margin-top: 30px;
  width: 305px;
  height: 56px;
  border-radius: 10px;
  border: 1.5px solid #000;
  background: #fff;
  position: relative;
}

.hashTag_wrapper input {
  width: 305px;
  height: 56px;
  margin-left: 10px;
}
.hashtagBox {
  color: #333;
  border-radius: 5px;
  padding: 4px 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

.colorPickerContainer {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 10;
}
.hashTag_wrapper {
  position: relative;
}
